<button type="button" class="btn btn-primary" onclick="reloadTab(); return false;"><i class="fa-solid fa-rotate"></i> Reload</button>
<nav id="tabs" selectedIndex="{{tab}}">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button onclick="chooseTab(0);" class="nav-link {{#when tab "eq" 0}}active{{/when}}" id="nav-summary-tab" data-bs-toggle="tab" data-bs-target="#nav-summary" type="button" role="tab" aria-controls="nav-summary" aria-selected="{{bool tab "eq" 0}}">Dashboard</button>
    <button onclick="chooseTab(1);" class="nav-link {{#when tab "eq" 1}}active{{/when}}" id="nav-container-tab" data-bs-toggle="tab" data-bs-target="#nav-container" type="button" role="tab" aria-controls="nav-container" aria-selected="{{bool tab "eq" 1}}">Container</button>
    <button onclick="chooseTab(2);" class="nav-link {{#when tab "eq" 2}}active{{/when}}" id="nav-projects-tab" data-bs-toggle="tab" data-bs-target="#nav-projects" type="button" role="tab" aria-controls="nav-projects" aria-selected="{{bool tab "eq" 2}}">Projects</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade {{#when tab "eq" 0}}show active{{/when}}" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab" tabindex="0">
    <div id="admindash" class="hbs-template" data-url="/api/admin/dashboard" data-template="admindash"></div>
  </div>
  <div class="tab-pane fade {{#when tab "eq" 1}}show active{{/when}}" id="nav-container" role="tabpanel" aria-labelledby="nav-container-tab" tabindex="0">
    <div onrender="checkForImageUpdates();return false;" id="hbsps" class="hbs-template" data-url="/api/docker/ps" data-template="dockerps"></div>
  </div>
  <div class="tab-pane fade {{#when tab "eq" 2}}show active{{/when}}" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab" tabindex="0">
    <div id="hbsprojects" class="hbs-template" data-url="/api/docker/projects" data-template="projects"></div>
  </div>
</div>
<script type="text/javascript">
  function chooseTab(index) {
    document.getElementById("tabs").setAttribute("selectedIndex", index);
    reloadTab();
  }

  function reloadTab() {
    var ctls = ["admindash", "hbsps", "hbsprojects"];
    var index = 0;
    if (document.getElementById("tabs")) {
      index = document.getElementById("tabs").getAttribute("selectedIndex") ?? 0;
    }
    document.getElementById(ctls[index]).reload();
  }

</script>
{{>messagebox}}
{{>search}}
<div id="containerInfo" data-url="/api/docker/container/{id}" data-template="containerinfo">
</div>
