<div class="modal fade" style="z-index:6000 !important;" id="digitalClockModal{{id}}" tabindex="-1" aria-labelledby="digitalClockModalLabel{{id}}" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="opacity:1 !important;z-index:6000 !important;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="digitalClockModalLabel{id}}">Current time {{# when tz "noteq" ""}} - {{tz}}{{/when}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <center>
          <object style="background:transparent;pointer-events:none;width:90%;height:90%" data="/assets/img/digitalclock.svg" type="image/svg+xml">
            <param name="tz" value="{{tz}}" />
          </object>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
