<h1>
  <div id="monitorContainerName">Container</div>
</h1>
<table border="5 " cellpadding="0" cellspacing="5">
  <tr>
    <td>Historical CPU Use %</td>
  </tr>
  <tr>
    <td>
      <div id="cpuchart" style="width:600px;height:300px;"></div>
    </td>
  </tr>
  <tr>
    <td>Historical Memory Free %</td>
  </tr>
  <tr>
    <td>
      <div id="memorychart" style="width:600px;height:300px;"></div>
    </td>
  </tr>
</table>
<div id="containerLogs" class="terminal">
</div>
