<ul class="cloud" role="navigation" aria-label="Tag cloud">
  {{#each this.feed}}
    <li><a data-weight="{{this}}" onclick="document.getElementById('{{../Id}}').tagfunc('{{@key}}');">{{@key}}</a></li>
  {{/each}}
</ul>
