<footer class="fixed-bottom bg-body-tertiary text-muted" style="height:40px">
  &nbsp; Version: {{buildversion "version"}} Date: {{buildversion "buildDateStr"}}
  <div class="container" style="padding-top:5px" id="footer">
  </div>
</footer>
