<footer class="fixed-bottom bg-body-tertiary text-muted" style="height:40px">
  <div class="container" style="padding-top:5px">
    Version {{buildversion "version"}}, Build {{buildversion "buildDateStr"}}
    <div id="footer">
    </div>
  </div>
</footer>
