<div style="margin-top: 50px;"></div>
<div style="height:30px;" class="p-2 bg-secondary bg-gradient text-white fixed-bottom">
  &nbsp; Version: {{buildversion "version"}} Date: {{buildversion "buildDateStr"}}
</div>
