<h1>
  <div id="monitorContainerName">Container</div>
</h1>
<table border="0" cellpadding="0" cellspacing="5">
  <tr>
    <td>
      <div id="cpuchart"></div>
    </td>
    <td></td>
    <td>
      <div id="memorychart"></div>
    </td>
  </tr>
</table>
<div id="containerLogs" class="terminal">
</div>
