<button data-name="" data-url="" onclick="window.location.href='/admin/index'; return false;" type="button" class="btn {{# isempty parent.buttonclass}}btn-secondary{{else}}{{parent.buttonclass}}{{/isempty}} widget" style="{{#isnotempty parent.opacity}}opacity:{{parent.opacity}} !important;{{/isnotempty}}">
  <img style="padding:10px;max-width:64px;max-height:64px" src="/assets/img/logo.png" />
  <br /> Administration
</button>
