<script type="text/javascript">
  sessionStorage.setItem("jwt", "");

  function login() {
    var redir = document.getElementById("redir").value;
    document.getElementById("error").style.display = "none";
    var payload = {
      username: document.getElementById("username").value,
      password: document.getElementById("password").value
    };

    axios
      .post("/auth/login", payload)
      .then((response) => {
        var token = response.data.encoded_token;
        if ((token ?? "") == "") {
          document.getElementById("error").style.display = "block";
          return false;
        } else {}
        sessionStorage.setItem("jwt", token);
        window.location.href = "/auth/postlogin?t=" + token + "&r=" + encodeURIComponent(redir);
        return false;
      })
      .catch((err) => {
        alert(err);
      });

    return false;
  }

</script>
<form method="post" action="/auth/login" enctype="application/x-www-form-urlencoded" onsubmit="login(); return false;">
  <input type="hidden" id="redir" value="{{redir}}" />
  <div class="container">

    <div class="row g-3 align-items-center">
      <div class="col-2 text-right">
        <label for="username" class="col-form-label">Username</label>
      </div>
      <div class="col-auto">
        <input type="text" value="admin" id="username" class="form-control" aria-describedby="usernameHelpInline">
      </div>
      <div class="col-auto">
        <span id="usernameHelpInline" class="form-text">
        </span>
      </div>
    </div>
    <div class="row g-3" style="padding-top:5px;></div>
<div class=" row g-3 align-items-center">
      <div class="col-2 text-right">
        <label for="password" class="col-form-label">Password</label>
      </div>
      <div class="col-auto">
        <input type="password" id="password" value="Password123" class="form-control" aria-describedby="passwordHelpInline">
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
        </span>
      </div>
    </div>
    <div class="row g-3" style="padding-top:5px;></div>
<div class=" row g-3 align-items-center">
      <div class="col-5 text-right">
        <button class="btn btn-primary" type="submit">Login</button>
        &nbsp;
        <input class="btn btn-secondary" type="reset" value="Clear">
        <br />
        <span id="error" class="text-danger" style="display:none;">Invalid username or password</span>
      </div>
    </div>
  </div>
</form>
